<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ENGLISH</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"> -->
</head>
{% extends "index.html"%}
{% block content %}
    
  <div class="item">
      <section>
          1
          {% for a in english1 %}
            <div>{{a.eng}}</div>
            <div>{{a.kor}}</div><br>
          {% endfor %}
          2
          {% for a in english2 %}
            <div>{{a.eng}}</div>
            <div>{{a.kor}}</div><br>
          {% endfor %}
          3
          {% for a in english3 %}
            <div>{{a.eng}}</div>
            <div>{{a.kor}}</div><br>
          {% endfor %}
        </section>
        <h3>Note</h3>
    <section>
            <form class="js-toDoForm">
                <input type="textarea" placeholder="Memo" size="25"/>
            </form>
            <ul class="js-toDolist">
            </ul>
    </section>

    <script src="{{ url_for('static', filename='js/weather.js')}}"></script>
    <script src="{{ url_for('static', filename='js/todo.js')}}"></script>
{% endblock %}
  


</body>

</html>