<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>별자리 운세</title>
  <style>
    section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,1fr);  
    }
  </style>
</head>

<body>
  <div class="title">
    <center>
      <a href="/">
        <h1>Daily News</h1>
      </a>
    </center>
  </div>
  <hr>
  <section>
  <div></div>
  <h3>운세</h3>
  <div></div>
  <div></div>
  <div>
  {{result}}
  </div>
    </section>
</body>

</html>