<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>별자리 운세</title>
</head>

<body>
  <div class="title">
    <div class="subtitle">
      <span class="js-weather"></span>
    </div>
    <a href="/">
      <h1>Daily News</h1>
    </a>
    <div class="subtitle">
      <span>최고 기온 : {{weather.max}} </span><br>
      <sapn>최저 기온 : {{weather.min}} </sapn>
    </div>
  </div>
  
<div class="container">
  <div class="item">
    <ul id="list"> 
      <a href="/"><li>기사</li></a><br><br><br>
      <a href="/movies"><li>영화</li></a><br><br><br>
      <a href="/fortune_select"><li>운세</li></a><br><br><br>
      <a href="/english"><li>영어</li></a><br><br><br>
      <a href="/todo"><li>ToDo</li></a><br><br><br>
    </ul>
  </div>
  <div class="item">
</div>
</div> 
<h3>별자리 운세</h3>

<form action="/fortune" method="get">
  <select id="selectBox" name="selectBox" onChange="selectForm(this.options[this.selectedIndex].value)"
    style=width:200>
    <option>별자리를 선택하세요!</option>
    <option value="0">물병자리 (01/20 ~ 02/18)</option>
    <option value="1">물고기자리 (02/19 ~ 03/20)</option>
    <option value="2">양자리 (03/21 ~ 04/19)</option>
    <option value="3">황소자리 (04/20 ~ 05/20)</option>
    <option value="4">쌍둥이자리 (05/21 ~ 06/21)</option>
    <option value="5">게자리 (06/22 ~ 07/22)</option>
    <option value="6">사자자리 (07/23 ~ 08/22)</option>
    <option value="7">처녀자리 (08/23 ~ 09/23)</option>
    <option value="8">천칭자리 (09/24 ~ 10/22)</option>
    <option value="9">전갈자리 (10/23 ~ 11/22)</option>
    <option value="10">사수자리 (11/23 ~ 12/24)</option>
    <option value="11">염소자리 (12/25 ~ 01/19)</option>
  </select>
  <input type="submit" value="확인">
</form>
<div id="allForms">
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/1 Aquarius.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/2 Pisce.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/3 Aries.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/4 Taurus.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/5 Gemini.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/6 Cancer.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/7 Leo.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/8 Virgo.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/9 Libra.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/10 Scorpio.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none;">
    <img src="{{ url_for('static', filename='images/11 Sagittarius.jpg')}}">
  </div>
  <div style="width:725px; padding: 5px; display:none; ">
    <img src="{{ url_for('static', filename='images/12 Capricorn.jpg')}}">
  </div>
  <br>
  {{result}}
</div>
<script src="{{ url_for('static', filename='js/weather.js')}}"></script>
</body>

</html>