<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>메인 화면</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"> -->
    <style>
        section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    </style>

</head>

<body>
    <h3>현재 날씨</h3>
    <section>
        <sapn>현재 온도 : {{weather.temp}}</sapn>
        <span>최고 기온 : {{weather.max}} 최저 기온 : {{weather.min}}</span>
    </section>
    <section>
        <h3>헤드라인 기사 제목</h3>
        <h3>링크</h3>
        {% for a in headline %}
        <span>{{a.title}}</span>
        <a href='{{a.link}}' target="_blank">기사 확인</a>
        {% endfor %}
    </section>
    <p>
    <h3>기사 검색</h3>
    <form action="/report" method="get">
        <input type="text" name="name">
        <input type="submit" value="검색">
    </form>
    <h3>영화 순위</h3>
    <form action="/movies" method="get">
        <input type="submit" value="영화 순위 보기">
    </form>
    
</body>

</html>