<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>메인 화면</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"> -->
</head>
<body>

{% extends "index.html"%}
{% block content %}
  <div class="item">
    <h3>헤드라인 기사</h3><br>
    <section>
      {% for a in headline %}
      <span><a href='{{a.link}}' target="_blank">{{a.title}}</a></span><br>
      {% endfor %}
    </section>
    <form action="/report" method="get">
      <input type="text" name="title" placeholder="News Search">
      <input type="submit" value="검색"><br><br>
    </form>
    <section>
      <h3>{{news_title}} 관련 기사</h3>
      {% for a in titles %}
      <a href='{{a.link}}' target="_blank">{{a.title}}</a><br>
      {% endfor %}
    </section>
  
{% endblock %}
  
  


</body>

</html>