<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<!--===============================================================================================-->
	<link rel="icon" href="{{ url_for('static', filename='images/icons/favicon.ico')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet"
		href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/animate/animate.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main1.css')}}">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/login" method="POST">
					<span class="login100-form-title p-b-26">
						Daily News
					</span>
					<span class="login100-form-title p-b-48">

						<img src="{{ url_for('static', filename='images/D.png')}}">

					</span>

					<div class="wrap-input100 validate-input" data-validate="아이디를 입력해주세요">
						<input class="input100" type="text" name="id">
						<span class="focus-input100" data-placeholder="Id"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="비밀번호를 입력해주세요">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pw">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" action="/login" method="POST">
								Login
							</button>
						</div>
					</div>

					<form class="login100-form validate-form" action="/register" method="GET">
						<div class="text-center p-t-115">
							<a class="txt2" href="/register">
								회원가입
							</a>
						</div>
					</form>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>