<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>영화순위</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

</head>
<body>
    {% extends "index.html"%}
    {% block content %}
        
    
        <div class="item" style="text-align:left;">
        
        {% for movie in movies %}
            <div>{{movie.rank}} <a href='{{movie.link}}' target="_blank">{{movie.title}}</a></div>
            <div>평점 : {{movie.rate}} -- 예매율 {{movie.ticket}}%</div><br>
        {% endfor %}
    </div>
    
    <script src="{{ url_for('static', filename='js/weather.js')}}"></script>
    {% endblock %}
</body>
</html>
