<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>기사 검색창</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css')}}"> -->
    <style>
        section {
            display: grid;
        }
    </style>
    <style type="text/css">
        a:link {
            color: black;
            text-decoration: none;
        }
        
        a:visited {
            color: black;
            text-decoration: none;
        }
        
        a:hover {
            color: blue;
            text-decoration: underline;
        }
        </style>
</head>

<body>
    <h3>{{news_title}} 관련 기사</h3>
    <section>
        <h4>기사 제목</h4>
        {% for a in titles %}
        <a href='{{a.link}}' target="_blank">{{a.title}}</a>
        {% endfor %}
    </section>

</body>

</html>