<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>기사 검색창</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <style>
        section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    </style>
</head>
<body>
    <h3>{{news_title}} 관련 기사</h3>
    <section>
        <h4>기사 제목</h4>
        <h4>링크</h4>
        {% for a in titles %}
            <span>{{a.title}}</span>
            <a href='{{a.link}}' target="_blank">기사 확인</a>
        {% endfor %}
    </section>
    
</body>
</html>