.container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 2fr 1fr;
}

.item {
    text-align: center;
}

#header .title .subtitle{
    text-align: left;
    text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
}

.title a:hover, .title a:visited{
    color:black;
    text-decoration: none;
}
  a:link {
    color: black;
    text-decoration: none; 
  }
  a:visited {
      color: gray;
      text-decoration: none;
  }
#allForms {
    text-align: center;
    display: flex;
}
img {
	border: none;
	}
	